<!-- views/partial/exercises.data.ejs -->
<h1><%=exercise.name%></h1>
<h3><%=exercise.description%></h3>
<table id="exercise">
    <th>Date</th>
    <th>Score</th>
  </tr>

<%var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
<% for(var s=0; s < sessions.length; s++) { %>
   <tr>
     <td id="exercise/<%=sessions[s].id%>" class="session">
        <%=(sessions[s].dateStarted.getDate() + " - " +
         months[sessions[s].dateStarted.getMonth()] + " - " +
         sessions[s].dateStarted.getFullYear())%>
       </p>
     </td>
   <%if(sessions[s].data && sesson[s].data.score){%>
     <td class="session"><%=sessions[s].data.score%></td>
   <%}%>
   </tr>
<% } %>

</table>


<script>
$(document).ready(function(){
  $("td").click(loadPartial);

  // code...
});
</script>
